<!DOCTYPE{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'groupTracker/styles.css' %}" />
{% if group %}
<div class="post">
<h4>Group:</h4>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Group Name</th>
    <th>Class Name</th>
  </tr>

    {% for item in group %}
  <tr>
    <td>{{ item.first_name }}</td>
    <td>{{ item.last_name }}</td>
    <td>{{ item.group_name }}</td>
    <td>{{ item.class_name }}</td>
  </tr>
    {% endfor %}
</table>
<form action={% url 'groupTracker:index' %}>
	<input type="submit" value="Back" />
</form>
</div>
{% else %}
	<p>No data.</p>
{% endif %}